.icon32 {
  background:url('../../memberpress/images/memberpress-32.png') !important;
  width: 267px !important;
  height: 32px !important;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .icon32 {
    background-image: url('../../memberpress/images/memberpress-32@2x.png') !important;
    background-size: 267px 32px !important;
  }
}

div#mpfwdsp-urls-area {
  margin-top:25px;
}

ul#mpfwdsp-urls-list {
  padding:0;
  margin:0;
}

.mpfwdsp_item {
  display:inline-block;
  padding:5px 10px 5px 10px;
  border:1px solid #CCC;
}

span#mpfwdsp-sp-url,
span#mpfwdsp-sp-hash {
  display:inline-block;
  padding:5px;
  background:#EEE;
  border:1px solid #CCC;
}
